<header class="masthead" style="background-image: url('/images/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1 class="text-center">
            About me
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <td>irikawa</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>26</td>
      </tr>
      <tr>
        <th>BirthPlace</th>
        <td>埼玉県大宮</td>
      </tr>
      <tr>
        <th>Career</th>
        <td>現在はSIer企業にて金融機関向けの営業職。<br/>
          主な業務内容はインフラ側の製品・サービス販売。</td>
      </tr>
      <tr>
        <th>Inspire</th>
        <td>開発系の案件に携わった際に、<br/>
            「営業職でもプログラミングを知っていた方が話ができるでは？」<br/>
            と思い、プログラミング学習を開始。<br/>
          以降どハマりし、エンジニアになるため日々勉強中。
        </td>
      </tr>
    </table>
  </div>
</div>
</div>