<header class="masthead" style="background-image: url('/images/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1 class="text-center">
            About me
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <td>入川 知之（イリカワ トモユキ）</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>27</td>
      </tr>
      <tr>
        <th>Place</th>
        <td>大宮→横浜→宇都宮→十条（現在は妻と2人暮らし）</td>
      </tr>
      <tr>
        <th>Career</th>
        <td>2015/4〜2016/10：建材系商社の住宅事業部に営業職として従事<br/>
          2016/11〜現在：SIerの金融営業部に営業職として従事<br/>
          業務内容は、金融機関様を向けにインフラに係る製品・サービス販売。<br/>
          2018年度に個人成績を前年度比で約230%伸ばし、若手部門社長賞を受賞。<br/>
          営業部としては未着手の部分であった「サーバーサイジングチーム」を設立する等、<br/>
          社内体制の改善に主体的に取り組んでおります。
          </td>
      </tr>
      <tr>
        <th>qualification</th>
        <td>TOEIC（670点）→800点を目標に学習中。<br/>
          宅地建物取引士<br/>
          ITパスポート<br/>
          日商簿記3級<br/>
          いずれも社会人になってから取得。色々な分野を幅広く勉強してきました。<br/>
          新しいことを学ぶことが好きで、継続して勉強することが得意です。
        </td>
      </tr>
      <tr>
        <th>Trigger</th>
        <td>開発系の案件に携わった際に、<br/>
            「営業職でもプログラミングを知っていた方が話ができるでは？」<br/>
            と思い、プログラミング学習を開始。<br/>
          以降どハマりし、エンジニアになるため日々勉強中。<br/>
          2019/11〜現在：渋谷コード塾に入塾。html/css/ruby/railsを学習。reactも学習予定。
          2020/5〜：エンジニアとして働き始める（目標！）
        </td>
      </tr>
    </table>
  </div>
</div>
</div>